@{
    ViewBag.Title = "Fizz Buzz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FizzBuzz</h2>
<div id="top" class="">
    <form class="" method="post" target="" action="/" enctype="multipart/form-data">
        <div>
            <label for="first">Show FizzBuzz Sequence From:</label>
            <input type="text" name="first" value=@ViewBag.First />
            <label for="last">To</label>
            <input type="text" name="last" value=@ViewBag.Last />
            <input type="submit" value=" Go fizz " />
        </div>
    </form>
</div>

<div id="display" class="fizzbuzz_display">
        @foreach (var item in ViewBag.Result)
              {
                  <span class="@item">@item</span>
              } 
</div>
